
<section class="usa-graphic_list">
{% for event in site.initiatives %}
  {% assign half = forloop.index | modulo: 3 %}
  {% if half == 1 %}
  <div class="usa-width-one-third usa-end-row usa-media_block">
  {% else %}
  <div class="usa-width-one-third usa-media_block">
  {% endif %}
    <img class="initative-image" src="{{ event.image | prepend: site.baseurl }}" alt="{{event.img-alt}}" >

    <div class="usa-media_block-body">
      <h3>
        <a href="{{ site.baseurl }}{{ event.url }}">
          {{ event.title }}
        </a>
      </h3>
      <p>{{ event.description | strip_html | truncatewords:15  }}</p>
    </div>
  </div>
{% endfor %}
</section>
