<section class="usa-section usa-section-dark" style="background-color:#363f48;">
  <div class="usa-grid">

  <div class="usa-width-one-fourth">
	  <h4 class="footer_links_title">About</h4>
	       <a href="{{ site.baseurl }}/about/mission-vision/" class="footer_links">Vision and Mission</a><BR>
          <a href="{{ site.baseurl }}/about/members-and-leadership/" class="footer_links">Council Members</a><BR>
          <a href="{{ site.baseurl }}/about/committees-affiliates/" class="footer_links">Committees and Affiliates</a><BR>
	</div>


  <div class="usa-width-one-fourth">
	  <h4 class="footer_links_title">Agenda</h4>
      <a href="{{site.baseurl}}/fed-it-topics/modernization/" class="footer_links">Priorities</a><BR>
      <a href="{{site.baseurl}}/fed-it-topics/modernization/" class="footer_links">Initiatives</a><BR>
  </div>

  <div class="usa-width-one-fourth">
    <h4 class="footer_links_title">Blog</h4>
    <a href="{{site.baseurl}}/fed-it-topics/modernization/" class="footer_links">2018 Posts</a><BR>
    <a href="{{ site.baseurl }}/fed-it-topics/sustainability-transparency/" class="footer_links">2017 Posts</a><br>
    <a href="{{site.baseurl}}/fed-it-topics/cybersecurity/" class="footer_links">2016 Posts</a><br>
    <a href="{{site.baseurl}}/fed-it-topics/cybersecurity/" class="footer_links">2015 Posts</a><br>
  </div>

  <div class="usa-width-one-fourth">
	  <h4 class="footer_links_title">Resources</h4>
    	 <a href="{{ site.baseurl }}/resources/document-library/" class="footer_links">Document Library<BR>
    	 <a href="{{ site.baseurl }}/about/privacy-statement/" class="footer_links">Privacy Statement</a><BR>
    	 <a href="{{ site.baseurl }}/about/accessibility-statement/" class="footer_links">Accessibility Policy</a><BR>
    	 <a href="http://www.usa.gov">USA.GOV</a><BR>
  </div>
</div>
</section>
