<section class="usa-graphic_list">
{% for resource in site.resources %}
  {% assign half = forloop.index | modulo: 1 %}
  {% if half == 1 %}
  <div class="usa-width-one-whole usa-end-row usa-media_block">
  {% else %}
  <div class="usa-width-one-whole usa-media_block">
  {% endif %}
    <a href="{{ site.baseurl }}{{ resource.url }}"><img class="initiative-image" src="{{ resource.image | prepend: site.baseurl }}" alt="{{resource.img-alt}}"></a>

    <div class="usa-media_block-body">
      <h3>
        <a href="{{ site.baseurl }}{{ resource.url }}">
          {{ resource.title }}
        </a>
      </h3>
      <p>{{ resource.description | strip_html | truncatewords:35  }}</p>
    </div>
    <br><br>
  </div>
{% endfor %}
</section>
