.hero-unit {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 32em;
  position: relative;
}
.standard-unit {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 14em;
  position: relative;
}
.hero-content {
  background-color: transparentize($text-color, .6);
  bottom: 20px;
  left: 50%;
  margin-left: -30%;
  padding-top: 20px;
  position: absolute;
  text-align: center;
  width: 60%;
}
.hero-content h1 {
  color: white;
  font-size: 36px;
  font-weight: 100;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: .3em;
  padding-right: .3em;
}
.hero-content .usa-button {
  font-size: 22px;
  line-height: 30px;
}

*CODE CHALLENGE*/

  .cd-h-timeline__events {
  position: relative;
}

.cd-h-timeline__event {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  opacity: 0;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

.cd-h-timeline__event--selected { // selected event info
  position: relative;
  z-index: 2;
  opacity: 1;
  transform: translateX(0);
}

.cd-h-timeline__event--enter-right, 
.cd-h-timeline__event--leave-right { // animate event info
   animation-name: cd-enter-right;
}

.cd-h-timeline__event--enter-left,  
.cd-h-timeline__event--leave-left { // animate event info
   animation-name: cd-enter-left;
}

.cd-h-timeline__event--leave-right, 
.cd-h-timeline__event--leave-left {
   animation-direction: reverse;
}

@keyframes cd-enter-right {
   0% {
      opacity: 0;
      transform: translateX(100%);
   }

   100% {
      opacity: 1;
      transform: translateX(0%);
   }
}

@keyframes cd-enter-left {
   0% {
      opacity: 0;
      transform: translateX(-100%);
   }

   100% {
      opacity: 1;
      transform: translateX(0%);
   }
}

