---
layout: page
title: CIOC Blog
hero-text: CIOC Blog
pagination:
  enabled: true
  per_page: 5
---

<div class="usa-width-one-whole">
{% for post in paginator.posts %}
  <h6 style="margin-bottom:3px; margin-top: 15px"> {{ post.date | date_to_string }}</h6>
  <a href="{{ post.url | prepend: site.baseurl }}"><h3 style="margin-top:0px">{{ post.title }}</h3></a>
  <p>{{ post.content | strip_html | truncatewords:50 }}</p>

{% if post.tags.size > 0 %}
  <b>Tag{% if post.tags.size > 1 %}s{% endif %}:</b>
  {% assign tags = post.tags %}
  <ul class="tags">
    {% for tag in tags %}
      <a href="{{ site.baseurl }}/tags/{{ tag }}"<li class="tag">{{ tag }}</li></a>
  </ul>
  {% endfor %}
  {% endif %}
  <br>
  <hr>
  <br>
{% endfor %}
</div>


<div class="usa-width-one-whole">
  <br><br>
{% if paginator.total_pages > 1 %}
<ul class="pagination">
  {% if paginator.previous_page %}
  <li>
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li>
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  </li>
  {% endif %}
</ul>
{% endif %}
</div>
