---
layout: page
title: CIOC Blog
hero-text: CIOC Blog
pagination:
  enabled: true
  per_page: 5
---

<div class="usa-width-one-whole">
{% for post in paginator.posts %}
<h6> {{ post.date | date_to_string }}</h6>
<a href="{{ post.url | prepend: site.baseurl }}"><h3 style="margin-top:0px">{{ post.title }}</h3></a>
<p> {{ post.description }}</p>

{% endfor %}
</div>

<div class="usa-width-one-whole">
{% if paginator.total_pages > 1 %}
<ul>
  {% if paginator.previous_page %}
  <li>
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li>
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  </li>
  {% endif %}
</ul>
{% endif %}
</div>
