table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

caption,
th {
  text-align: left;
}


q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
}

body {
  background: #fff;
}

/* optional Container STYLES */

.chart {
  height: 600px;
  margin: 5px;
  width: 1000px;
}

.Treant>.node {
  padding: 10px 15px;
  border: 1px solid #c1c1c1;
  border-radius: 20px;
  max-width: 175px;
  font-family: sans-serif;
}

.Treant>.node img {
  width: 100%;
  height: 100%;
}

.Treant .collapse-switch {
  width: 100%;
  height: 100%;
  border: none;
}

.Treant .node.collapsed .law {
  background-color: #ddaddd;
}

.Treant .node.collapsed .guidance {
  background-color: #7d5d96;
}

.Treant .node.collapsed .collapse-switch {
  background: none;
}

.node-name {
  font-weight: 700;
  font-size: 16px;
}

.node-desc {
  font-size: 13px;
}

.governance {
  background-color: #ccc;
}

.law {
  background-color: #ddaddd;
  color: #eaeaea;
}

.law-child{
  background-color: #f7e5fc;
}

.guidance {
  background-color: #7d5d96;
  color: #fff;
}
.guidance-child{
  background-color: #d0c8f7;
}

.policy {
  background-color: #406d3b;
  color: #fff;
}
.policy-child {
  background-color: #a9d66f;
}
.policy-grandchild {
  background-color: #d4e2c0;
}
.policy-declassified {
  background-color: #e2a03d;
}

.standards {
  background-color: #40aef7;
  color: #fff;
}
.standards-child{
  background-color: #3862a5;
  color: #fff
}

.standards-grandchild{
  background-color: #a4d3e8;
}
