---
layout: sidenav-page
---
<section>
  <div class="standard-unit" style="background-image: url('{{ page.background-image | prepend: site.baseurl }}'); height: 200px;">
    <section class="usa-grid usa-section">
        <div  style="position: absolute; bottom: 0;">
        <h1 style="COLOR: #515151; font-size: 42px; align: left;">{{ page.hero-text }}</h1>
        </div>
      </section>
  </div>
</section>

<i>{{ page.blog-date }} - by {{ blog-author }}</i>

{{ content }}

{% if page.abstract %}
<a class="usa-button" href="{{ page.abstract | prepend: site.baseurl }}">View Abstract</a>
{% endif %}

<p><br></p>
