---
layout: base
---

<section>
  <div class="usa-hero" style="background-image: url('{{ page.hero-image | prepend: site.baseurl }}'); ">
    <div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
  </div>
 
</section>
<section class="usa-section usa-section-dark">
  <div class="usa-grid usa-graphic_list-row">
    The federal government must attract top IT talent to modernize federal IT systems and
    deliver the most secure and effective services to the American people. To recruit the best
    qualified IT talent, in the most timely and cost-effective manner, we need to transform the
    federal IT hiring process.

    The CIO Council has partnered with the technology hiring experts at HackerRank to pilot
    the first, large-scale, inter-agency code challenge. Code challenges are used extensively in
    the private sector to source and pre-qualify IT talent, and they are viewed as an industry
    best practice. The #CIOCode Challenge pilot program begins April 15 and includes three
  </div>
</section>

<section class="usa-section-light usa-section">
  <div class="usa-grid usa-graphic_list-row">
    <a align="center" class="usa-button" href="{{ page.hero-button-link | prepend: site.baseurl }}">{{ page.hero-button-text }}</a><br>
    <h2 id="timer" align="center"></h2>
  </div>
</section>


<style>
html, body {
  color: #681;
	background: #fff;
	min-width: 700px;
}

/* ---- Timeline ---- */
ol {
	position: relative;
	display: block;
	margin: 100px;
	height: 4px;
	background: #31708F;
}
ol::before,
ol::after {
	content: "";
	position: absolute;
	top: -8px;
	display: block;
	width: 0;
	height: 0;
  border-radius: 10px;
	border: 10px solid #31708F;
}
ol::before {
	left: -5px;
}
ol::after {
	right: -10px;
	border: 10px solid transparent;
	border-right: 0;
	border-left: 20px solid #31708F;
  border-radius: 3px;
}

/* ---- Timeline elements ---- */
li {
	position: relative;
	display: inline-block;
	float: left;
	width: 150px;
	font: bold 14px arial;
  height: 50px;
}
li .diplome {
  position: absolute;
  top: -47px;
  left: 36%;
  color: #000000;
}
li .point {
	content: "";
	top: -4px;
	left: 43%;
	display: block;
	width: 6px;
	height: 6px;
	border: 4px solid #31708F;
	border-radius: 10px;
	background: #fff;
  position: absolute;
}
li .description {
  display: none;
  background-color: #f4f4f4;
  padding: 10px;
  margin-top: 20px;
  position: relative;
  font-weight: normal;
  z-index: 1;
}
.description::before {
  content: '';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #f4f4f4;
  position: absolute;
  top: -5px;
  left: 43%;
}

/* ---- Hover effects ---- */
li:hover {
	cursor: pointer;
  color: #48A4D2;
}
li:hover .description {
  display: block;
}
</style>

<ol>
  <li>
    <p class="diplome">BAC S</p>
    <span class="point"></span>
    <p class="description">
      Ceci est la description du bac S
    </p>
  </li>
  <li>
    <p class="diplome">BTS / DUT</p>
    <span class="point"></span>
    <p class="description">En lien avec la biologie et/ou la zoologie</p>
  </li>
  <li>
    <p class="diplome">Licence</p>
    <span class="point"></span>
    <p class="description">En lien avec la biologie et/ou la zoologie</p>
  </li>
  <li>
    <p class="diplome">Master</p>
      <span class="point"></span>
    <p class="description">TEST</p></li>
  <li>
  <p class="diplome">Doctorat</p>
    <span class="point"></span>
    <p class="description">Souvent nécessaire pour pouvoir accéder aux concours d’embauche de centres de recherche tels que l’INRA ou le CNRS</p>
  </li>
</ol>






</section>

<script>
// Set the date we're counting down to
var countDownDate = new Date("July 5, 2019 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("timer").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
