<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CIO.gov</title>
  <meta name="description" content="Official Web Site of CIO.gov">
  <meta property="og:type" content="website">
  <meta property="og:title" content="CIO.gov" />
  <meta name="twitter:title" content="CIO.gov"/>
  <meta name="twitter:card" content="summary"/>
  <meta property="og:url" content="https://www.cio.gov//"/>
  <meta name="twitter:image" content="https://www.cio.gov/assets/img/twitter-summary-card.png"/>
  <meta property="og:description" content="Official Web Site of CIO.gov"/>
  <meta name="twitter:description" content="Official Web Site of CIO.gov"/>

  <link rel="stylesheet" href="/assets/vendor/uswds-1.1.0/css/uswds.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,700i|Oswald:300,400,500,700" rel="stylesheet">

  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico" />
  <link rel="canonical" href="https://www.cio.gov//">
  <link rel="alternate" type="application/rss+xml" title="CIO.gov" href="https://www.cio.gov//feed.xml" />
  <SCRIPT id="_fed_an_ua_tag" language="javascript" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=GSA"></SCRIPT>
</head>


<body class="home">
  <div class="usa-overlay"></div>

  <a href="#main" class="usa-skipnav">Skip to main content</a>

<header class="usa-header usa-header-basic" role="banner">
  <!-- Gov banner BEGIN -->
  <div class="usa-banner">
    <div class="usa-accordion">
      <header class="usa-banner-header">
        <div class="usa-grid usa-banner-inner">
        <img src="/assets/vendor/uswds-1.1.0/img/us_flag_small.png" alt="U.S. flag">
        <p>An official website of the United States government</p>
        <button class="usa-accordion-button usa-banner-button"
          aria-expanded="false" aria-controls="gov-banner">
          <span class="usa-banner-button-text">Here's how you know</span>
        </button>
        </div>
      </header>
      <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
        <div class="usa-banner-guidance-gov usa-width-one-half">
          <img class="usa-banner-icon usa-media_block-img" src="/assets/vendor/uswds-1.1.0/img/icon-dot-gov.svg" alt="Dot gov">
          <div class="usa-media_block-body">
            <p>
              <strong>The .gov means it’s official.</strong>
              <br>
              Federal government websites always use a .gov or .mil domain. Before sharing sensitive information online, make sure you’re on a .gov or .mil site by inspecting your browser’s address (or “location”) bar.
            </p>
          </div>
        </div>
        <div class="usa-banner-guidance-ssl usa-width-one-half">
          <img class="usa-banner-icon usa-media_block-img" src="/assets/vendor/uswds-1.1.0/img/icon-https.svg" alt="SSL">
          <div class="usa-media_block-body">
            <p>This site is also protected by an SSL (Secure Sockets Layer) certificate that’s been signed by the U.S. government. The <strong>https://</strong> means all transmitted data is encrypted  — in other words, any information or browsing history that you provide is transmitted securely.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Gov banner END -->

  <div class="usa-nav-container">
    <div class="usa-navbar">
      <button class="usa-menu-btn">Menu</button>
      <div class="usa-logo" id="logo">
        <em class="usa-logo-text">
          <a href="https://cio.gov" accesskey="1" title="Home" aria-label="Home">
            <img src="/assets/img/logo-main.png" alt="CIO.gov">
          </a>
        </em>
      </div>
    </div>
    <nav role="navigation" class="usa-nav">
      <button class="usa-nav-close">
        <img src="/assets/vendor/uswds-1.1.0/img/close.svg" alt="close">
      </button>
      <ul class="usa-nav-primary usa-accordion">
        <li><button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="basic-nav-section-one">
      <span>About</span></button>
          <ul id="basic-nav-section-one" class="usa-nav-submenu">
            <li><a href="/about/">About the Council</a></li>
            <li><a href="/about/members-and-leadership/">Leadership & Members</a></li>
            <li><a href="/about/committees-affiliates/">Committees & Communities of Practice</a></li>
          </ul>
        </li>
        <li><button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="basic-nav-section-two">
      <span>Agenda</span></button>
          <ul id="basic-nav-section-two" class="usa-nav-submenu">
            <li><a href="/agenda/priorities/">Priorities</a></li>
            <li><a href="/agenda/initiatives/">Initiatives</a></li>
          </ul>
        </li>
        <li class="usa-nav-link">
          <a href="/blog/">Blog</a>
        </li>
        <li class="usa-nav-link">
          <a href="/resources/">Resources</a>
        </li>
      </ul>
      <form class="usa-search usa-search-small" action="https://search.usa.gov/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
        <input type="hidden" name="affiliate" id="affiliate" value="cio.gov" />
        <div role="search">
          <label class="usa-sr-only" for="basic-search-field-small">Search small</label>
          <input id="basic-search-field-small affiliate" type="search" name="query" value="" class="search-field">
          <button type="submit" name="commit">
            <span class="usa-sr-only">Search</span>
          </button>
        </div>
      </form>
      </div>
    </nav>
  </div>
</header>
<!---------------------------------------------------------------------------->

  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>Code Challenge</title>


<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;">
  <img class="w3-image" src="../assets/img/banners/2019.04.16-code-challenge-green.jpg" width="1500">
</header>
  <section class="cd-h-timeline js-cd-h-timeline margin-bottom--md">
	<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
	  
		<p class="w3-justify">
			The federal government must attract top IT talent to modernize federal IT systems and deliver the most secure and effective services to the American people. To recruit the best qualified IT talent, in the most timely and cost-effective manner, we need to transform the federal IT hiring process.<br><br>
		</p>

		<p class="w3-justify">
			The CIO Council has partnered with the technology hiring experts at HackerRank to pilot the first, large-scale, inter-agency code challenge. Code challenges are used extensively in the private sector to source and pre-qualify IT talent, and they are viewed as an industry best practice. The #CIOCode Challenge pilot program begins April 15 and includes three separate online skill assessments, which run for one month each.
		</p>
		<p><button class="w3-button w3-blue" style="width:200px">Sign Up</button></p>
		<br>
		<h3 id="timer"></h3>
		
		
	</div>
	
	  
	  
  <div class="w3-panel w3-padding-16 w3-light-grey">  
    <div class="cd-h-timeline__container container">
      <div class="cd-h-timeline__dates" >
        <div class="cd-h-timeline__line" >
          <ol>
            <li><a href="#0" data-date="16/01/2014" class="cd-h-timeline__date cd-h-timeline__date--selected">16 Jan</a></li>
            <li><a href="#0" data-date="28/02/2014" class="cd-h-timeline__date">28 Feb</a></li>
            <li><a href="#0" data-date="20/04/2014" class="cd-h-timeline__date">20 Mar</a></li>
            <li><a href="#0" data-date="20/05/2014" class="cd-h-timeline__date">20 May</a></li>
            <li><a href="#0" data-date="09/07/2014" class="cd-h-timeline__date">09 Jul</a></li>
            <li><a href="#0" data-date="30/08/2014" class="cd-h-timeline__date">30 Aug</a></li>
            <li><a href="#0" data-date="15/09/2014" class="cd-h-timeline__date">15 Sep</a></li>
            <li><a href="#0" data-date="01/11/2014" class="cd-h-timeline__date">01 Nov</a></li>
            <li><a href="#0" data-date="10/12/2014" class="cd-h-timeline__date">10 Dec</a></li>
            <li><a href="#0" data-date="19/01/2015" class="cd-h-timeline__date">29 Jan</a></li>
            <li><a href="#0" data-date="03/03/2015" class="cd-h-timeline__date">3 Mar</a></li>
          </ol>

          <span class="cd-h-timeline__filling-line" aria-hidden="true"></span>
        </div> <!-- .cd-h-timeline__line -->
      </div> <!-- .cd-h-timeline__dates -->
        
      <ul>
        <li><a href="#0" class="text--replace cd-h-timeline__navigation cd-h-timeline__navigation--prev cd-h-timeline__navigation--inactive">Prev</a></li>
        <li><a href="#0" class="text--replace cd-h-timeline__navigation cd-h-timeline__navigation--next">Next</a></li>
      </ul>
    </div> <!-- .cd-h-timeline__container -->

    <div class="cd-h-timeline__events">
      <ol>
        <li class="cd-h-timeline__event cd-h-timeline__event--selected text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Horizontal Timeline</h2>
            <em class="cd-h-timeline__event-date">January 16th, 2014</em>
            <p class="cd-h-timeline__event-description text--subtle"> 
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Event title here</h2>
            <em class="cd-h-timeline__event-date">February 28th, 2014</em>
            <p class="cd-h-timeline__event-description text--subtle"> 
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Event title here</h2>
            <em class="cd-h-timeline__event-date">March 20th, 2014</em>
            <p class="cd-h-timeline__event-description text--subtle"> 
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Event title here</h2>
            <em class="cd-h-timeline__event-date">May 20th, 2014</em>
            <p class="cd-h-timeline__event-description text--subtle"> 
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Event title here</h2>
            <em class="cd-h-timeline__event-date">July 9th, 2014</em>
            <p class="cd-h-timeline__event-description text--subtle"> 
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Event title here</h2>
            <em class="cd-h-timeline__event-date">August 30th, 2014</em>
            <p class="cd-h-timeline__event-description text--subtle"> 
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Event title here</h2>
            <em class="cd-h-timeline__event-date">September 15th, 2014</em>
            <p class="cd-h-timeline__event-description text--subtle"> 
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Event title here</h2>
            <em class="cd-h-timeline__event-date">November 1st, 2014</em>
            <p class="cd-h-timeline__event-description text--subtle"> 
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Event title here</h2>
            <em class="cd-h-timeline__event-date">December 10th, 2014</em>
            <p class="cd-h-timeline__event-description text--subtle"> 
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Event title here</h2>
            <em class="cd-h-timeline__event-date">January 29th, 2015</em>
            <p class="cd-h-timeline__event-description text--subtle"> 
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
            </p>
          </div>
        </li>

        <li class="cd-h-timeline__event text-component">
          <div class="cd-h-timeline__event-content container">
            <h2 class="cd-h-timeline__event-title">Event title here</h2>
            <em class="cd-h-timeline__event-date">March 3rd, 2015</em>
            <p class="cd-h-timeline__event-description text--subtle"> 
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
            </p>
          </div>
        </li>
      </ol>
    </div> <!-- .cd-h-timeline__events -->
</div>
  </section>
<script>
// Set the date we're counting down to
var countDownDate = new Date("Jan 5, 2020 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="timer"
  document.getElementById("timer").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("timer").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
  <script src="../assets/js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
  <script src="../assets/js/swipe-content.js"></script> <!-- A Vanilla JavaScript plugin to detect touch interactions -->
  <script src="../assets/js/main.js"></script>


