---
layout: base
---
<style>
  h1,h2,h3,h4,h5{
    font-family: "Roboto Mono", sans-serif;
  }
  .reskilling-background{

  }
</style>

<section class="usa-section reskilling-background">
  <div class="usa-grid">
    <h3 style="margin-bottom:0px"> {{ page.hero-byline }}</h3>
    <h1 style="margin-top: 10px;"> {{ page.hero-text }}</h1>
  </div>
</section>
<section>
<div class="usa-grid usa-content">
  <br>
  <div class="usa-width-one-whole">
    {{ content }}
      <br><br>

  </div>

</div>
</section>
