---
layout: base
---
<div class="rs-banner"> <img src="{{ site.baseurl }}/assets/img/initiatives/reskilling-header2.png">
</div>
<section class="usa-section" style="margin:0%;">
  <div class="usa-grid usa-content">
    <div class="usa-width-one-whole">
      The Federal Cybersecurity Reskilling Academies looks to take a cohort of 20 to 25 current federal employees from non-information technology occupations and training them to be entry level Incident Response
      Analysts, Cyber Defense Analysts, Digital Forensic Analysts, or Security Operations Center (SOC) Analysts.
      <br>
      <br>
      <br>
      <br>
      <img src="{{ site.baseurl }}/assets/img/initiatives/rs-linebreak-left.png" class="rs-img">
      <br>
    </div>
    <div class="usa-width-one-third" style="padding-top: 4rem;">
    </div>
    <div class="usa-width-one-third" style="padding-top: 4rem;">
      <h2 class="rs-heading">Cohort 1</h2>
        <h5 class="rs-heading">Powered by: Department of Education, Patriot Strategies LLC & the SANS Institute</h5>
      <ul>
        <li>Open to non-IT Professions </li>
        <li>Federal employees in the following series are not eligable to apply</li>
        <ul>
          <li>GS-0854 - Computer Engineers </li>
          <li>GS-1550 - Computer Scientists</li>
          <li>GS-0855 - Electronics Engineers</li>
          <li>GS-2210 - IT Cybersecurity Specialists</li>
        </ul>
        <li>November through April</li>
      </ul>
    </div>
    <div class="usa-width-one-third" style="padding-top: 4rem;">
    </div>
  </div>
</section>

<section class="usa-section" style="padding: 0%;">
  <div class="usa-grid usa-content">
    <div class="usa-width-one-whole">
      <img src="{{ site.baseurl }}/assets/img/initiatives/rs-linebreak-right.png" class="rs-img">
      <br>
      <br>

      <img src="{{ site.baseurl }}/assets/img/initiatives/rs-linebreak-right.png" class="rs-img">
      <br>
      <h2 class="rs-heading">Program Timeline</h2>

      <div class="page">
        <div class="page__demo">
          <div class="main-container page__container">
            <div class="timeline">
              <div class="timeline__box">
                <div class="timeline__date">
                  <span class="timeline__day">27</span>
                  <span class="timeline__month">Nov</span>
                </div>
                <div class="timeline__post">
                  <div class="timeline__content">
                    <h4 class="rs-heading">Apply</h4>
                    The application process will run from November 27th through January 18th.
                  </div>
                </div>
              </div>
              <div class="timeline__box">
                <div class="timeline__date">
                  <span class="timeline__day">11</span>
                  <span class="timeline__month">Jan</span>
                </div>
                <div class="timeline__post">
                  <div class="timeline__content">
                    <h4 class="rs-heading">Assessments</h4>
                     The first assessments will be sent out on January 11th. Assessments will be emailed to participants. Only participants that pass the assessments will recieve an interview.
                  </div>
                </div>
              </div>
              <div class="timeline__box">
                <div class="timeline__date">
                  <span class="timeline__day">25</span>
                  <span class="timeline__month">Feb</span>
                </div>
                <div class="timeline__post">
                  <div class="timeline__content">
                    <h4 class="rs-heading">Selection/Notification</h4>
                    The program will review, score, interview and select applicants. Applications will be notified of their selection starting February 25th and must complete registration for their courses by March 11th.
                  </div>
                </div>
              </div>
              <div class="timeline__box">
                <div class="timeline__date">
                  <span class="timeline__day">11</span>
                  <span class="timeline__month">Mar</span>
                </div>
                <div class="timeline__post">
                  <div class="timeline__content">
                    <h4 class="rs-heading">Training</h4>
                    Training will run from March 11 through June 9, 2019
                  </div>
                </div>
              </div>
              <div class="timeline__box">
                <div class="timeline__date">
                  <span class="timeline__day">10</span>
                  <span class="timeline__month">Jun</span>
                </div>
                <div class="timeline__post">
                  <div class="timeline__content">
                    <h4 class="rs-heading">Graduation</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
