---
layout: base
---
<div class="rs-section">

</div>
<section class="usa-section">
  <div class="usa-grid usa-content">
    <div class="usa-width-one-whole">
      The Federal Cybersecurity Reskilling Academies looks to take two cohorts of 20 to 25 current federal employees from both the information technology occupations and non-information technology occupations and training them to be entry level Incident Response Analysts, Cyber Defense Analysts, Digital Forensic Analysts, or Security Operations Center (SOC) Analysts.
    </div>
  </div>
</section>
<section class="usa-section">
  <div class="usa-grid usa-content">
    <div class="usa-width-one-half">
      <h3 class="rs-header">Cohort 1</h3>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Nunc a dictum orci. Sed vehicula quam nunc, id mattis libero eleifend a. </li>
        <li>Nunc et posuere ipsum. Suspendisse arcu ex, ultricies sit amet feugiat elementum, fermentum a eros</li>
      </ul>
    </div>
    <div class="usa-width-one-half">
      <h3 class="rs-header">Cohort 2</h3>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Nunc a dictum orci. Sed vehicula quam nunc, id mattis libero eleifend a. </li>
        <li>Nunc et posuere ipsum. Suspendisse arcu ex, ultricies sit amet feugiat elementum, fermentum a eros</li>
      </ul>
    </div>
  </div>
</section>

<section class="usa-section">
  <div class="usa-grid usa-content">
    <div class="usa-width-one-whole">
      <h3 class="rs-header">Timeline</h3>
      <div class="rs-timeline">
        <div class="rs-container rs-left">
          <div class="rs-content">
            <h2>2017</h2>
            <p>Lorem ipsum..</p>
          </div>
        </div>
        <div class="rs-container rs-right">
          <div class="rs-content">
            <h2>2016</h2>
            <p>Lorem ipsum..</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
