---
layout: base
---
<section class="usa-section">
  <div class="usa-grid">
    <div class="usa-width-one-whole">
      <a href="{{ site.baseurl }}/blog" style="text-decoration:none;">
        <b>&#10094; &nbsp; Blog</a></b>
      <h1>Posts tagged: {{ page.title }}</h1>
  </div>
</div>
</section>
<section class="usa-section">
  <div class="usa-grid">
    {% for post in site.tags[page.tag] %}
        <p>{{ post.date | date: '%B %d, %Y' }}</p>
          <a href="{{ site.baseurl }}{{ post.permalink }}">
            <h3 style="margin-top:1em;">{{ post.title }}</h3>
          </a>
          <p>{{ post.description}}</p>
          {% assign tags = post.tags %}
          {% for tag in tags %}
            <span class="usa-label">
              <a href="{{ site.baseurl }}/tags/{{ tag }}/">{{ tag }}</a>
            </span>
            {% endfor %}
            <hr align="left">
            {% endfor %}
    </div>
  </div>
</section>
