---
layout: base
---
<section >
  <div class="standard-unit" style="background-image: url('{{ page.background-image | prepend: site.baseurl }}'); height: auto;">
    <section class="usa-grid usa-section">
        <div  style="position: absolute; bottom: 0;">
        <h1 style="font-family: 'Poppins', sans-serif; COLOR: #515151; font-size: 42px; align: left;">{{ page.hero-text }}</h1>
        </div>
      </section>
  </div>
</section>

<section>
<div class="usa-grid">
  <div class="usa-width-one-half">
    {{ content }}
    <br>
    <a class="usa-button" href="{{ page.attachment | prepend: site.baseurl }}">View Mindmap</a>
  </div>
</div>
</section>
<section>
  <div class="chart Treant loaded" id="collapsable-example"></div>
  <script src="{{ site.baseurl }}/assets/tree/vendor/raphael.js"></script>
  <script src="{{ site.baseurl }}/assets/tree/Treant.js"></script>
  <script src="{{ site.baseurl }}/assets/tree/vendor/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/tree/vendor/jquery.easing.js"></script>
  
 
  <script>
    var chart_config = {
  chart: {
    container: "#collapsable-example",

    animateOnInit: true,

    node: {
      collapsable: true
    },
    animation: {
      nodeAnimation: "easeOutBounce",
      nodeSpeed: 700,
      connectorsAnimation: "bounce",
      connectorsSpeed: 700
    }
  },
  nodeStructure: {
    text: {
      name: "GOVERNANCE",
      desc: "A basic example",
      contact: {
        val: "CLICK HERE YO",
        href: "http://twitter.com/",
        target: "_self",
      }
    },
    link: "http://twitter.com/",
    children: [{
        text: {
          name: "Law"
        },
        contact: {
          val: "contact me",
          href: "http://twitter.com/",
          target: "_self"
        },
        link: {
          href: "http://twitter.com/"
        },
        collapsed: true,
        children: [{
          image: "http://fperucic.github.io/treant-js/examples/collapsable/img/figgs.png"
        }]
      },
      {
        image: "http://fperucic.github.io/treant-js/examples/collapsable/img/sterling.png",
        childrenDropLevel: 1,
        children: [{
          image: "http://fperucic.github.io/treant-js/examples/collapsable/img/woodhouse.png"
        }]
      },
      {
        pseudo: true,
        children: [{
            image: "http://fperucic.github.io/treant-js/examples/collapsable/img/cheryl.png"
          },
          {
            image: "http://fperucic.github.io/treant-js/examples/collapsable/img/pam.png"
          }
        ]
      }
    ]
  }
};

const tree = new Treant(chart_config);

  </script>
</section>


 {% include quick.links.html %}
