---
layout: base
---

<section >
  <div class="standard-unit" style="background-image: url('{{ page.background-image | prepend: site.baseurl }}'); height: auto;">
    <section class="usa-grid usa-section">
        <div  style="position: absolute; bottom: 0;">
        <h1 style="font-family: 'Poppins', sans-serif; COLOR: #515151; font-size: 42px; align: left;">{{ page.hero-text }}</h1>
        </div>
      </section>
  </div>
</section>

<section>
<div class="usa-grid">
  <div class="usa-width-one-half">
    {{ content }}
    <br>
    <a class="usa-button" href="{{ page.attachment | prepend: site.baseurl }}">View Mindmap</a>
  </div>
</div>
</section>
  <link rel="stylesheet" href="{{ '/assets/tree/Treant.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/tree/collapsable.css' | prepend: site.baseurl }}">
<section>

  <div class="chart Treant loaded" id="collapsable-example"></div>
  <script src="{{ site.baseurl }}/assets/tree/vendor/raphael.js"></script>
  <script src="{{ site.baseurl }}/assets/tree/Treant.js"></script>
  <script src="{{ site.baseurl }}/assets/tree/vendor/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/tree/vendor/jquery.easing.js"></script>


  <script>
   var chart_config = {
  chart: {
    container: "#collapsable-example",

    animateOnInit: true,

    node: {
      collapsable: true
    },
    animation: {
      nodeAnimation: "easeOutBounce",
      nodeSpeed: 700,
      connectorsAnimation: "bounce",
      connectorsSpeed: 700
    }
  },
  nodeStructure: {
    text: {
      name: "GOVERNANCE"
    },
    link: "http://twitter.com/",
    children: [{
        text: {
          name: "Law"
        },
        collapsed: true,
        children: [{
         	text:{
          	name: "FISMA",
            desc: "",
            contact: {
            	val:"Federal	Information	Security	Modernization	Act",
              href: "https://www.dhs.gov/fisma"
            }
          },
        },
        {
         	text:{
          	name: "CISA",
            desc: "",
            contact: {
            	val:"Cybersecurity Act of 2015",
              href: "https://www.congress.gov/114/bills/s754/BILLS-114s754es.pdf"
            }
          },
        },
        {
         	text:{
          	name: "FY 16 Report",
            desc: "",
            contact: {
            	val:"FY16 FISMA Annual Report to Congress",
              href: "https://www.whitehouse.gov/sites/whitehouse.gov/files/briefing-room/presidential-actions/related-omb-material/fy_2016_fisma_report%2520to_congress_official_release_march_10_2017.pdf"
            }
          },
        },
        ]
      },
      {
        text: {
        	name: "Guidance"},
        childrenDropLevel: 1,
        collapsed: true,
        children: [
        	{
          text:{
          	name:"FedRAMP",
            desc:"",
            contact:{
            	val:"Government-wide Authorized Cloud Service Providers",
              href:"https://www.fedramp.gov",

            }
          }
        },
        {
          text:{
          	name:"FedRAMP",
            desc:"",
            contact:{
            	val:"Government-wide Authorized Cloud Service Providers",
              href:"https://www.fedramp.gov",

            }
          }
        },
        {
          text:{
          	name:"FedRAMP",
            desc:"",
            contact:{
            	val:"Government-wide Authorized Cloud Service Providers",
              href:"https://www.fedramp.gov",

            }
          }
        },
        {
          text:{
          	name:"FedRAMP",
            desc:"",
            contact:{
            	val:"Government-wide Authorized Cloud Service Providers",
              href:"https://www.fedramp.gov",

            }
          }
        },
        {
          text:{
          	name:"FedRAMP",
            desc:"",
            contact:{
            	val:"Government-wide Authorized Cloud Service Providers",
              href:"https://www.fedramp.gov",

            }
          }
        },
        {
          text:{
          	name:"FedRAMP",
            desc:"",
            contact:{
            	val:"Government-wide Authorized Cloud Service Providers",
              href:"https://www.fedramp.gov",

            }
          }
        }
        ]
      },
      {
        text: {
        	name: "Policy"},
        childrenDropLevel: 1,
        collapsed: true,
        children: [{
          image: "http://fperucic.github.io/treant-js/examples/collapsable/img/woodhouse.png"
        }]
      },
      {
        text: {
        	name: "Standards"},
        collapsed: true,
        childrenDropLevel: 1,
        children: [{
          image: "http://fperucic.github.io/treant-js/examples/collapsable/img/woodhouse.png"
        }]
      },
    ]
  }
};

const tree = new Treant(chart_config);

  </script>
</section>


 {% include quick.links.html %}
